@model VPP18.Models.NGUOIDUNG
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div style="text-align:center;font-weight:600" class="card-header">
                    ĐĂNG NHẬP
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("DangNhap", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Nhập email" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.MatKhau)
                            @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control", @placeholder = "Nhập mật khẩu" })
                        </div>
                        <div style="text-align:center" class="form-group">
                           
                            <a class="btn btn-sm btn-primary" href="/Home/DangKy"> ĐĂNG KÍ</a>
                            <input type="submit" name="submit" class="btn btn-primary" value="ĐĂNG NHẬP" />
                            
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
