@model PagedList.IPagedList<VPP18.Models.SANPHAM>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <div class="card card-category" >
                        <div class="img-wrap">
                            <img style="width:150px" src="@item.HinhAnh" />
                        </div>
                        <div style="text-align:center" class="card-body">
                            <h4 class="card-title"><a>@item.IdSP - @item.TenSP</a></h4>
                            <h4 class="card-title"><a> @item.DonGia VND</a></h4>
                        </div>
                        <div class="card-body">
                            <a class="card-title"><a href="#">@item.MoTa</a></a>
                        </div>
                        <div style="text-align:center">
                            <a class="btn btn-primary" href="@Url.Action("ThemGioHang", "GioHang",
            new { @id = item.IdSP, @strURL = Request.Url.ToString() })"><i class="fa-solid fa-cart-plus"></i></a>
                            <a class="btn btn-primary" href="@Url.Action("Detail", "SanPham",
            new { @id = item.IdSP, @strURL = Request.Url.ToString() })"><i class="fa-solid fa-info"></i></a>
                        </div>
                        

                    </div>


                </div> <!-- col.// -->
            }


        </nav> <!-- row.// -->
        <div style="text-align:center">
            <div>
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
                @Model.PageCount
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("ListSP", new
                    {
                        page = page
                    }))
                </div>
            </div>
            

            <style>
                .MenuTrang li {
                    display: inline;
                    text-align:center;
                }
            </style>
            <style type="text/css">
                #mau-nut a {
                    clear: both;
                    background-color: orange;
                    color: snow;
                }

                    #mau-nut a:hover {
                        background-color: darkcyan;
                        color: snow;
                    }
            </style>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script>
                $(document).ready(function () {
                    var maxLength = 100;
                    $(".show-read-more").each(function () {
                        var myStr = $(this).text();
                        if ($.trim(myStr).length > maxLength) {
                            var newStr = myStr.substring(0, maxLength);
                            var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                            $(this).empty().html(newStr);

                            $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                            $(this).append('<span class="more-text">' + removedStr +
                                '</span>');
                        }
                    });
                    $(".read-more").click(function () {
                        $(this).siblings(".more-text").contents().unwrap();

                        27

                        $(this).remove();
                    });
                });
            </script>
            <style>
                .show-read-more .more-text {
                    display: none;
                }
            </style>
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>
    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->



