@model IEnumerable<VPP18.Models.SANPHAM>

@{
    ViewBag.Title = "ListSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SẢN PHẨM</h2>
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">

                    <div class="card card-category">
                        <div class="img-wrap" style="background: #35ccf0">
                            <img src="~/Content/images/Danhmuc/Vo1.jpg">
                        </div>
                        <div style="text-align:center" class="card-body">
                            <h4 class="card-title"><a href="#">@item.IdSP - @item.TenSP</a></h4>
                            <h4 class="card-title"><a href="#"> @item.DonGia VND</a></h4>
                        </div>
                        <div class="card-body">
                            <a class="card-title"><a href="#">@item.MoTa</a></a>
                        </div>
                        <div>
                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang",
            new { @id = item.IdSP, @strURL = Request.Url.ToString() })">Đặt mua</a>
                        </div>

                    </div>


                </div> <!-- col.// -->
            }


        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
