@model IEnumerable<VPP18.Models.NCC>

@{
    ViewBag.Title = "ListNhaCungCap";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>DANH SÁCH NHÀ CUNG CẤP</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>MÃ NCC:</th>
        <th>TÊN NHÀ CUNG CẤP:</th>
        <th>HÌNH ẢNH:</th>
        <th>SỐ ĐIỆN THOẠI:</th>
        <th>ĐỊA CHỈ:</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.IdNCC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenNCC)
    </td>
    <td>
        <img style="width:150px" src="@item.HinhAnh" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "NhaCungCap", new { id = item.IdNCC })"><i class="fas fa-edit"></i> Edit</a>
        <a class="btn btn-sm btn-primary" href="@Url.Action("Detail", "NhaCungCap", new { id = item.IdNCC})"><i class="fas fa-info"></i> Detail</a>
        <a class="btn btn-sm btn-primary" href="@Url.Action("Delete", "NhaCungCap", new { id = item.IdNCC})"><i class="fas fa-trash-alt"></i> Delete</a>

    </td>
</tr>
    }

</table>
