@model IEnumerable<VPP18.Models.DANHMUCSANPHAM>

@{
    ViewBag.Title = "Danhmuc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

    
        
            <table class="table">
                <tr>
                    <th>
                        Mã danh mục
                    </th>
                    <th>
                        Tên danh mục
                    </th>
                    <th>
                        Hình ảnh
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDM)
                        </td>
                        <td>
                            <img style="width:150px" src="@item.HinhAnh"/>
                        </td>
                        <td>
                           
                            
                            <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "Danhmuc", new { id = item.IdDM})"><i class="fas fa-edit"></i> Edit</a>
                            <a class="btn btn-sm btn-primary" href="@Url.Action("Detail", "Danhmuc", new { id = item.IdDM})"><i class="fas fa-info"></i> Detail</a>
                            <a class="btn btn-sm btn-primary" href="@Url.Action("Delete", "Danhmuc", new { id = item.IdDM})"><i class="fas fa-trash-alt"></i> Delete</a>
                            

                        </td>
                    </tr>
                }

            </table>

       
        

