@model IEnumerable<VPP18.Models.DANHMUCSANPHAM>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên danh mục
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
    @item.IdDM
    </td>
    <td>
        @item.TenDM
    </td>

    <td>
        @item.HinhAnh
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IdDM }) |
        @Html.ActionLink("Details", "Details", new { id = item.IdDM }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IdDM })
    </td>
</tr>

    }


</table>

       
   