@model VPP18.Models.SANPHAM

<h3></h3>
<div>
   XÓA SẢN PHẨM 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã danh mục:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDM)
        </dd>

        <dt>
            Mã nhà cung cấp:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNCC)
        </dd>

        <dt>
           Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Hình ảnh: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            Đơn giá 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            Mô tả 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "listSanPham")
        </div>
    }
</div>
