@model IEnumerable<VPP18.Models.SANPHAM>

@{
    ViewBag.Title = "ListSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




@Html.ActionLink("Thêm mới", "Create")

<table class="table">

    <tr>
        <th>MÃ SẢN PHẨM</th>
        <th> NHÀ CUNG CẤP</th>
        <th> DANH MỤC SẢN PHẨM</th>
        <th>TÊN SẢN PHẨM</th>
        <th>HÌNH ẢNH</th>
        <th>GIÁ</th>
        <th>SỐ LƯỢNG TỒN</th>
        <th>MÔ TẢ</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NCC.TenNCC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DANHMUCSANPHAM.TenDM)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenSP)
    </td>
    <td>
        <img style="width:150px" src="@item.HinhAnh"/>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DonGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoLuongTon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MoTa)
    </td>
    <td>
        <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "HomeAD", new { id = item.IdSP })"><i class="fas fa-edit"></i> Edit</a>
        <a class="btn btn-sm btn-primary" href="@Url.Action("Detail", "HomeAD", new { id = item.IdSP})"><i class="fas fa-info"></i> Detail</a>
        <a class="btn btn-sm btn-primary" href="@Url.Action("Delete", "HomeAD", new { id = item.IdSP})"><i class="fas fa-trash-alt"></i> Delete</a>

    </td>

</tr>
    }
</table>
